body { padding-top: 70px;
}
nav a {
  margin-left: 20px;
  text-align: center;
  padding-top: 2em;
}
#sign{
  text-align:right;
}
#Global {
  background-color: #DCEFF8;
  background-size: cover;
  height: 160px;
}
#RS {
  width: 92%;
  float: left;
}
#nav {
  margin: 60px;
  width: 8%;
  float: right;
}
a {
  text-decoration: none;
}
#Exo1HTML{
  border: solid 3px;
  background-color: #171E28;
  color: white;
  border-color: black;
}
#Exo2HTML {
  border: solid 3px;
  background-color: #171E28;
  color: white;
  border-color: black;
}
#HTML {
  color: red;
  text-align: center;
}
