body { padding-top: 70px;
}
nav a {
  margin-left: 20px;
  text-align: center;
  padding-top: 2em;
}
#sign{
  text-align:right;
}
#Global {
  background-color: #DCEFF8;
  background-size: cover;
  height: 160px;
}
#RS {
  width: 92%;
float: left;
}
#nav {
  margin: 60px;
  width: 8%;
float: right;
}
a {
  text-decoration: none;
}
/*Début css Anthony profil*/
.titreprofile{
  text-align: center;
  margin-top:0px;
  margin-left: 190px;
}

.contener{
  display: flex;
  justify-content: space-around;
}
.img{
  float: right;
}
.p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 100%;
}
/*fin css profil
/*formulaire d'inscription*/
.formulairecenter{
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  width: 600px;
  margin-top: 0px;
  margin-left: 600px;
}
.fieldset{

  display: inline-block;
  text-align: left;
}
.legend{
  display: inline-block;
  text-align: right;
  font-weight: bold;
  text-align: center;
}

/*fin css fomulaire d'inscription*/
/*Début css homepage*/
h1{
  text-align: center;
  font-size: 70px;
  margin: 0px;
}

#text{
  font-size: 35px;
}
#goodluck{
  text-align: center;
  font-size: 40px;
}
/*Fin css Anthony*/
