body { padding-top: 70px;
}
nav a {
  margin-left: 20px;
  text-align: center;
  padding-top: 2em;
}
/* CSS victorien */
#sign{
  text-align:right;
}
#Global {
  background-color: #DCEFF8;
  background-size: cover;
  height: 160px;
}
#RS {
  width: 92%;
  float: left;
}
#nav {
  margin: 60px;
  width: 8%;
  float: right;
}
a {
  text-decoration: none;
}
#Exo1HTML {
  border: solid 3px;
  background-color: #171E28;
  color: white;
  border-color: black;
}
#Exo2HTML {
  border: solid 3px;
  background-color: #171E28;
  color: white;
  border-color: black;
}
#HTML {
  color: red;
  text-align: center;
}
#énoncéhtml1, #énoncéhtml2 {
  width: 50%;
  float:left;
}
#codehtml1, #codehtml2 {
  width: 50%;
  float:right;
}


/* FIN CSS victorien */

/* Début CSS Maxime*/
#Content{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.content{
  border: 1px solid black;
  border-radius:10px;
  margin:60px;
  width:15%;
}
.center {
  text-align:center;
  line-height:4;
}
/*Fin CSS Maxime*/
